/*div{
	width: 200px;
	height: 300px;
	background: blue;
}*/
#div1st {
	background: green;
	width: 200px;
	height: 200px;
	float: left;
	/*display: none;*/
	/*clear: none;*/
}
#div2nd {
	background: red;
	width: 200px;
	height: 200px;
	float: left;
	/*display: none;*/
	/*clear: none;*/
}
#div3rd {
	background: blue;
	width: 200px;
	height: 200px;
	float: left;
/*	display: inline;*/
	clear: left;
}
#div4th {
	background: pink;
	width: 200px;
	height: 200px;
	float: left;
/*	display: inline;*/
	/*clear: both;*/
}